@font-face {
  font-family: 'SpoqaHanSansNeo-Bold';
  src: url('SpoqaHanSansNeo-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('SpoqaHanSansNeo-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Medium';
  src: url('SpoqaHanSansNeo-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Light';
  src: url('SpoqaHanSansNeo-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Thin';
  src: url('SpoqaHanSansNeo-Thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
