// fonts
$SpoqaHanSansNeo_FONT: 'SpoqaHanSansNeo-Bold';
$SpoqaHanSansNeo_FONT_REGULAR: 'SpoqaHanSansNeo-Regular';

// colors
$MAIN_AQUA: #00ffff;
$MAIN_BLACK: #171719;
$MAIN_GRAY: #212124;
$MAIN_DARKGRAY: #1f1f22;
$MAIN_WHITE: #ffffff;
$PROGRESS_BAR_GREY: #555557;
$FONT_WHITE: #ffffff;
$COMMON_BACKGROUND: #fffdf7;
$HORIZON_GRAY: #e5dfdf;
$GRAY: #a9a9a9;
$BEIGE: #ebebeb;
$CUSTOM_BLUE: #616891;
