@import 'common/common';

.nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 250px;
  background-color: #212124;
}

.nav > a {
  text-decoration: none;
  background: #171719;
  font-size: 20px;
  height: 72px;
  vertical-align: middle;
  padding: 12px 16px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.025em;
  color: #ffffff;
  transition: all 0.125s ease;
}

.nav > a:hover {
  color: $MAIN_AQUA;
}
